<div id="<%= dom_id task %>">
  <p>
    <strong>Task nnnname:</strong>
    <%= task.task_name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= task.owner %>
  </p>

  <p>
    <strong>Collaborate:</strong>
    <%= task.collaborate %>
  </p>

  <p>
    <strong>Collaborate company:</strong>
    <%= task.collaborate_company %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

  <p>
    <strong>Weekly report item:</strong>
    <%= task.weekly_report_item %>
  </p>

</div>