<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <li><%= link_to "首頁", root_path , class: "nav-link px-2 text-white" %></li>
          <li><a href="#" class="nav-link px-2 text-white">專案</a></li>
          <li><a href="#" class="nav-link px-2 text-white">合作廠商專區</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="mb-3">
          <% if current_user %>
            <li>歡迎 ,  <%= current_user.name %> </li>
            <div class="d-flex justify-content-center">
              <%= button_to "修改密碼", edit_registration_path(:user), method: :get , class:"btn btn-outline-danger"%>    |  
              <%= button_to "登出", destroy_user_session_path, method: :delete , class:"btn btn-outline-warning" %>
            </div>
          <% else %>
            <div class="d-flex justify-content-center">
              <%= button_to "註冊", new_registration_path(:user), method: :get , class:"btn btn-outline-danger"%>    |  
              <%= button_to "登入", new_session_path(:user) , class:"btn btn-outline-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</header>